.loader {
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  transition: opacity 0.4s 0.2s;
}

.loader-gif {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

body.loaded .loader {
  opacity: 0;
  pointer-events: none;
}
